/*Variables*/
/*hint-ofpensive-british-pallete*/
/*electromagnetic-british-plt*/
/*nanohanacha-gold-british-plt*/
/*rise-n-shine-british-plt*/
/*blue-nights brt-plt*/
/*Global*/
body {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-family: "Cabin", Sans-Serif;
  color: #2f3640;
  /*width: 1400px;*/
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto Condensed", Sans-Serif;
}

a {
  color: #e1b12c;
  text-decoration: none;
}

a:hover {
  color: #fbc531;
}

ul {
  list-style-type: none;
}

.container {
  padding: 20px;
  margin: 0 auto;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-direction: row;
      flex-direction: row;
  /*padding: 20px 0;*/
}

.background {
  height: 100vh;
  background: url("/images/bubble-water.jpg");
  background-size: cover;
  width: 100%;
  position: relative;
}

/*nav*/
.nav-btn {
  background-color: #dcdde1;
  opacity: 0.7;
  border-radius: 30px;
  padding: 4px;
}

.nav-row {
  text-align: center;
}

.nav-row h3 {
  background-color: #dcdde1;
  opacity: 0.7;
  border-radius: 30px;
  width: 140px;
}

.nav-row ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.nav-row ul li {
  float: left;
  padding: 4px;
}

/*splash*/
.splash {
  height: 100vh;
  /*position: relative;*/
  -ms-flex-align: center;
      align-items: center;
}

.splash-inner {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  background-color: #dcdde1;
  opacity: 0.7;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.splash-btn {
  margin: 0 0 10px 0;
  padding: 20px;
  background-color: #2f3640;
  color: #dcdde1;
  border: solid, 1px;
  border-radius: 10px;
}

.splash-btn:hover {
  color: #dcdde1;
  background-color: #353b48;
}

/*services*/
.services {
  text-align: center;
  padding: 12px;
}

.services-row {
  padding: 20px;
}

.services-row i {
  color: #e1b12c;
  font-size: 45px;
}

.services-row p {
  color: #353b48;
}

/*porfolio*/
.portfolio {
  text-align: center;
  padding: 20px;
}

.porfolio-row {
  margin: 20px;
}

.image {
  width: 380px;
  height: 274px;
}

/*footer*/
footer {
  font-size: 50px;
  text-align: left;
}

footer p {
  text-align: center;
  font-size: 12px;
}

footer span {
  font-size: 0;
}

/*mediaqueriesformobile*/
@media (max-width: 767px) {
  body {
    font-size: 20px;
  }
  .nav-row h3 {
    margin: 10px auto;
    width: 100px;
  }
  .nav-row li {
    margin: 2px auto;
  }
  .wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .splash-btn {
    padding: 10px;
  }
  .splash-inner {
    padding: 10px;
    position: absolute;
    top: 70%;
    left: 50%;
    translate: transform(-70%, -50%);
  }
  .nav-btn {
    background-color: #dcdde1;
    opacity: 0.9;
    border-radius: 30px;
  }
  footer {
    text-align: center;
  }
}

@media (min-width: 939px) and (max-width: 1034px) {
  body {
    font-size: 23px;
  }
}

@media (min-width: 768px) and (max-width: 938px) {
  .nav-btn {
    padding: 1px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    font-size: 19px;
  }
}
/*# sourceMappingURL=style.css.map */