/*Variables*/
$head-font: 'Roboto Condensed', Sans-Serif;
$text-font: 'Cabin', Sans-Serif;
$background-color: #dcdde1; /*hint-ofpensive-british-pallete*/
$text-color: #2f3640; /*electromagnetic-british-plt*/
$link-color: #e1b12c; /*nanohanacha-gold-british-plt*/
$hover-color: #fbc531; /*rise-n-shine-british-plt*/
/*Global*/
body {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: $text-font;
    color: $text-color;
    width: 1400px;
}
h1, h2, h3, h4, h5 { 
    font-family: $head-font;
}
a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $hover-color;
    }
}
ul {
    list-style-type: none;
}
.container {
    padding: 0 20px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

}
.row {
    flex: 1;
    flex-direction: row;
    
}
.background {
    height: 100vh;
    background: url("/images/bubble-water.jpg"); 
   background-size: cover;
    width: 100%;
    position: relative;
}
/*nav*/
nav {
    background-color: $background-color;
    opacity: 0.7;
    border-radius: 30px;
}
.nav-row {
    text-align: center;
    ul {
        li {
        float: left;
        padding: 10px;
        }
    }
}
/*splash*/
.splash {
    height: 100vh;
    /*position: relative;*/
    align-items: center;
    
}
.splash-inner {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    background-color: $background-color;
    opacity: 0.7;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}
.splash-btn {
    padding: 5px;
    background-color: $link-color;
    color: $background-color;
    border: solid, 1px;
    border-radius: 10px;
}
/*services*/
/*porfolio*/