/*Variables*/
$head-font: 'Roboto Condensed', Sans-Serif;
$text-font: 'Cabin', Sans-Serif;
$background-color: #dcdde1; /*hint-ofpensive-british-pallete*/
$text-color: #2f3640; /*electromagnetic-british-plt*/
$link-color: #e1b12c; /*nanohanacha-gold-british-plt*/
$hover-color: #fbc531; /*rise-n-shine-british-plt*/
$dark-color: #353b48; /*blue-nights brt-plt*/
/*Global*/
body {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-family: $text-font;
    color: $text-color;
    /*width: 1400px;*/
}
h1, h2, h3, h4, h5 { 
    font-family: $head-font;
}
a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $hover-color;
    }
}
ul {
    list-style-type: none;
}
.container {
    padding:  20px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.row {
    flex: 1;
    flex-direction: row;
    /*padding: 20px 0;*/
    
}
.background {
    height: 100vh;
    background: url("/images/bubble-water.jpg"); 
   background-size: cover;
    width: 100%;
    position: relative;
}
/*nav*/
.nav-btn {
    background-color: $background-color;
    opacity: 0.7;
    border-radius: 30px;
    padding: 4px;
}
.nav-row {
    h3 {
        background-color: $background-color;
        opacity: 0.7;
        border-radius: 30px; 
        width: 140px;
    }
    text-align: center;
    ul 
        
        {   padding-inline-start: 0;
            li {
            float: left;
            padding: 4px;
        }
    }
}

/*splash*/
.splash {
    height: 100vh;
    /*position: relative;*/
    align-items: center;
    
}
.splash-inner {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    background-color: $background-color;
    opacity: 0.7;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}
.splash-btn {
    margin: 0 0 10px 0;
    padding: 20px;
    background-color: $text-color;
    &:hover {
            color: $background-color;
            background-color: $dark-color;
        
    }
    color: $background-color;
    border: solid, 1px;
    border-radius: 10px;
}
/*services*/
.services {
    text-align: center;
    padding: 12px;


}
.services-row {
    padding: 20px;
    
    i { 
        color: $link-color;
        font-size: 45px
        
    }
    p {
        color: $dark-color;
    }
}
/*porfolio*/
.portfolio {
    text-align: center;
    padding: 20px;
}
.porfolio-row {
    
    margin: 20px;
    
}
.image {
    width: 380px;
    height: 274px;
}
/*footer*/
footer {
    font-size: 50px;
    text-align: left;
    
    p {
        text-align: center;
        font-size: 12px;
    }
    span {
        font-size: 0;
    }
}

    


/*mediaqueriesformobile*/
@media (max-width: 767px) {
    body {
        font-size: 20px;
    }
    .nav-row{
        
        h3 {
           margin: 10px auto;
           width: 100px;
        }
        li {
            margin: 2px auto;
            
        }
    }
    .wrapper {
        flex-direction: column;
    }
    .splash-btn {
        padding: 10px;
    }
    .splash-inner {
        padding: 10px;
        position: absolute;
        top: 70%;
        left: 50%;
        translate: transform(-70%, -50%);
    }
    .nav-btn {
        background-color: $background-color;
        opacity: 0.9;
        border-radius: 30px;
        
    }
    footer {
        text-align: center;
    }
    

}
@media (min-width: 939px) and (max-width: 1034px) /*medaqueriesfortablets*/

{
    body {
        font-size: 23px;
    }



}
@media (min-width: 768px) and (max-width: 938px) /*medaqueriesfortablets*/

{
    
    .nav-btn {
        padding: 1px;
        flex-wrap: nowrap;
        font-size: 19px;
        
    }



}